user {{ nginx_user }};
worker_processes {{ worker_processes }};
error_log {{ error_log }};
pid {{ pid_file }};

events {
    worker_connections {{ worker_connections }};
}

http {
    log_format {{ log_format_name }} {{ log_format | indent(4) }};
    access_log {{ access_log }} {{ log_format_name }};

    sendfile {{ sendfile }};
    tcp_nopush {{ tcp_nopush }};
    tcp_nodelay {{ tcp_nodelay }};
    keepalive_timeout {{ keepalive_timeout }};
    types_hash_max_size {{ types_hash_max_size }};

    include {{ mime_types_file }};
    default_type {{ default_type }};

    upstream {{ upstream_name }} {
        {% for server in upstream_servers %}
        server {{ server }};
        {% endfor %}
    }

    server {
        listen {{ server.listen }};
        server_name {{ server.server_name }};

        location {{ server.location_path }} {
            proxy_pass {{ server.proxy_pass }};
            {% for header in server.proxy_headers %}
            proxy_set_header {{ header.key }} {{ header.value }};
            {% endfor %}
        }
    }
}
