apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}
spec:
  selector:
    app: {{ item.app }}
  type: {{ item.type }}
  ports:
    - port: {{ item.port }}
      targetPort: {{ item.target_port }}
      protocol: {{ item.protocol }}
